.b_title {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, bold;
    font-weight:bold;
    font-size:20px;
    color: rgba(200, 255, 200, 0.9)
}

.b_description {
    color: rgba(200, 200, 200, 0.7);
}

.cost_display {
    color: white;
}

.cost_display_wrap {
    padding-right: 3px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-top: 3px;
	background-color: rgba(60,85,100,0.7);
	border-radius: 15px;
    border-style: ridge;
    border-color: rgba(100, 255, 100, 0.5) rgba(50, 200, 50, 0.3);
    border-width:2px;
}

.cost_display_head {
    right:-65%; 
    width:100%; 
    position:relative;
}

.build_cost {
    width: 0%;
    right: 20%;
    position: absolute;
    z-index: 2;
}

.owned_count {
    color: white;
    right: 5%;
    position: absolute;
}

.b_midleft {
    position: fixed;
    left: 24%;
    max-width: 20%;
}

.b_midright {
    position: fixed;
    left: 47%;
    max-width: 20%;
}

.b_end {
    position: fixed;
    left: 70%;
    max-width: 20%;
}

.b_start {
    left: 1%;
    position: fixed;
    max-width: 20%;
}

.b_td {
    height: 100px;
    top: 100px;
}

.b_top_row {
    top: 120px;
    height: 250px;
    display: block;
    visibility: block;
}

.b_mid_row {
    top: 420px;
    height: 250px;
    position: fixed;
    display: block;

}

.b_mid_row_min {
    top: 120px;
    height: 250px;
    display: block;
}

.b_button {
    position: absolute;
    bottom: 3%;
    right: 3%;
}

.b_button_minimized {
    position: absolute;
    right: 3%;
}