.b_title {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, bold;
    font-weight:bold;
    font-size:20px;
    color: rgba(200, 255, 200, 0.9)
}

.b_description {
    color: rgba(200, 200, 200, 0.7);
}

.cost_display {
    color: white;
}

.cost_display_wrap {
    padding-right: 3px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-top: 3px;
	background-color: rgba(60,85,100,0.6);
	border-radius: 15px;
    border-style: ridge;
    border-color: rgba(100, 255, 100, 0.5) rgba(50, 200, 50, 0.3);
    border-width:2px;
}

.cost_display_head {
    right:-65%; 
    width:100%; 
    position:relative;
}

.build_cost {
    right: 15px;
    text-align: right;
    position: absolute;
}

.owned_count {
    color: white;
    right: 5%;
    position: absolute;
}


.b_all{
    display: flex;
    flex-wrap:wrap;
    margin-right: 90px;
}

.b_top_row, .b_mid_row {
    margin: 10px;
    contain:content;
    min-width: 230px;
}

.b_button {
    position: absolute;
    bottom: 3%;
    right: 3%;
}

.b_button_destroy {
    position: absolute;
    bottom: 3%;
    left: 3%;
}