* {
    color: white;
    cursor: url('../Images/cursor_tree.png'), auto;
}

.number {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

header {
    width: 110%;
    height: 50px;
    background-color: rgba(125, 140, 160, 0.9);
    padding-left: 10px;
    padding-top: 3px;
    border-bottom: rgba(85, 100, 100, 1) ridge 5px;
    margin-top: -1px;
    margin-left: -1px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    position: fixed;
    display:flex;
}


#main_dividor {
    z-index: -1;
}

/*Scroll bar stylisation*/
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background-image: url("../Images/pattern_background.png");
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(125, 140, 160, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(125, 140, 160, 1);
}

.cursor_hand {
    cursor: url('../Images/cursor_tree_hand.png') 10 0, auto;
}