body {
    background-image:url("../Images/pattern_background.png");
    margin: 0;
}


p {
    color: white;
    font-family:'Courier New', Courier, monospace;
}

a {
    max-width: 100%;
    max-height: 100%;
}

.import_box, .export_box {
    color: white;
    background-color: rgba(0, 0, 0, 0.7)
}

#page_name {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#main_dividor {
    position: absolute;
    margin-top: 10px;
    padding-bottom: 30px;
}

#warning {
    position: absolute;
    margin-top: 2%;
    margin-left: 40%;

}

#erase_save_1 {
    position: absolute;
    background-color: rgba(255, 0, 0, 0.8);
    margin-left: 100px
}


.right {
    position: fixed;
    right: 5px;
    width: 80px;
}

.min_button {
    top: 10%;
    right: 10%;
    position: fixed;
    font-style:bold;
    font-size: 20px;
}

#page_content {
    display:none;
    padding-top: 60px;
    margin-left: 5px;
}

.tab_title {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:23px;

}

.tab_icon {
    width: 48px;
    height: 48px;
}

.description {
    color: rgba(200, 200, 250, 0.7);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:14px;
}