
.wrapper {
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 15px;
}

.wrapper2 {
    padding-right: 10px;
    padding-bottom: 10px;
    position: fixed;
	background-color: rgba(0,0,0,0.7);
	border-radius: 15px;
}
.wrapper3 {
    position: fixed;
    margin-left: 30%;
    margin-top: 10%;
    padding-right: 10px;
    padding-bottom: 10px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 15px;
    border-color: rgba(255, 0, 255, 0.9);
    width: 40%;
}

.wrapper4 {
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 15px;
    position: fixed;
    display: none;
}

.sTabcontent_4 {
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 15px;
    position: fixed;
    display: none;
}

.wrapperb {
    width: 200%;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 15px;
}

.wrapper_small {
    background-color: rgb(100, 100, 100);
    border-radius: 6px;
    color: rgba(0, 255, 0, 1);
    border-color: green;
    border-style: ridge;
    padding: 2px;
}
.wrapper_small::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -7px;
    border-width: 7px;
    border-style: solid;
    border-color: green transparent transparent transparent;
  }