* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image:url("Wooden_Empire/Images/pattern_background.png");
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#main {
    padding: 25px;
}

input {
    background-image: linear-gradient(red, yellow);
    height: 36;
    width:100;
    border-radius: 10px;
    
}

Table, tr, th {
    border-bottom:1px solid rgba(255, 0, 255, 0.9);
    border-top:1px solid rgba(255, 0, 255, 0.9);
    border-left:1px solid rgba(255, 0, 255, 0.9);
    border-right:1px solid rgba(255, 0, 255, 0.9);
    width: 50%;
}

a {
    text-decoration: none;
}

.icon_large {
    width: 48px;
    height: 48px;

}

.wrapper_grey {
    background-color:rgba(100, 100, 100, 0.7);
    border-radius: 5px;
    border-color: rgba(125, 125, 125, 0.8);
    border-style:solid;
    padding: 5px;
    
}

.wrapper_blue {
    background-color:rgba(100, 100, 115, 0.7);
    border-radius: 5px;
    border-color: rgba(125, 125, 165, 0.8);
    border-style:solid;
    padding: 5px;
    
}

.indent {
    margin-left: 100px;
    margin-top: 50px;
}

.title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color:aquamarine;
}

.title_div {
    width: 1000px;
}

.description {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

.game_tab_div {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 1000px;
    height: 500px;
}



#tree_game_div {
    background-size:500px;
}

.game_preview {
    width: 900px;
    border-radius: 5px;
    border:rgba(125, 125, 165, 0.8) solid;
}

.game_title {
    font-size: 20px;
    color:rgba(148, 192, 136, 0.7);
    border-radius: 3px;
    
}

.game_head, .game_foot {
    background-color: rgba(48, 92, 36, 0.3);
    padding: 5px;
    border-radius: 5px;
    border: rgba(125, 125, 165, 0.8) solid;
}


.image_test_1 {
    position: absolute;
    right: 50%;
    width: 900px;
}

.page_icon {
    border-radius: 50px; 
}

