* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image:url("Wooden_Empire/Images/pattern_background.png");
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input {
    background-image: linear-gradient(red, yellow);
    height: 36;
    width:100;
    border-radius: 10px;
    
}

Table, tr, th {
    border-bottom:1px solid rgba(255, 0, 255, 0.9);
    border-top:1px solid rgba(255, 0, 255, 0.9);
    border-left:1px solid rgba(255, 0, 255, 0.9);
    border-right:1px solid rgba(255, 0, 255, 0.9);
    width: 50%;
}

.icon_large {
    width: 48px;
    height: 48px;

}

.wrapper_grey {
    background-color:rgba(100, 100, 100, 0.7);
    border-radius: 5px;
    border-color: rgba(125, 125, 125, 0.8);
    border-style:solid;
    padding: 5px;
    
}

.wrapper_blue {
    background-color:rgba(100, 100, 115, 0.7);
    border-radius: 5px;
    border-color: rgba(125, 125, 165, 0.8);
    border-style:solid;
    padding: 5px;
    
}

.indent {
    margin-left: 100px;
    margin-top: 50px;
}

.title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color:aquamarine;
}

.description {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

.game_tab_div {
    display: block;
    overflow:scroll;
}

.game_div {
    margin-top: 10px;
}

#tree_game_div {
    background-size:500px;
}

.game_preview {
    width: 512px;
}

.game_title {
    font-size: 20px;
    color:rgba(148, 192, 136, 0.7);
}