.icon {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border-color: black;
    border-style:outset;
}

.icon_0 {
    width: 16px;
    height: 16px;
    border-radius: 3px;
}

.display_value_wrap {
    position: fixed;
    right: 5px;
    top: 20%;
    width: 80px;

}

.display_value {
    padding: 5px;
    background-color: rgba(250, 250, 250, 0.1);
    border-color: rgba(250, 250, 250, 0.1);
    border-radius: 5px;
    border-style:solid;
    right: 20px;
}

.b_title {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, bold;
    font-weight:bold;
    font-size:20px;
    color: rgba(200, 255, 200, 0.9)
}

.b_description {
    color: rgba(200, 200, 200, 0.7);
}

.cost_display {
    color: white;
}

.cost_display_wrap {
    padding-right: 3px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-top: 3px;
	background-color: rgba(60,85,100,0.7);
	border-radius: 15px;
    border-style: ridge;
    border-color: rgba(100, 255, 100, 0.5) rgba(50, 200, 50, 0.3);
    border-width:2px;

}

.cost_display_head {
    right:-65%; 
    width:100%; 
    position:relative;
}

.build_cost {
    width: 0%;
    right: 20%;
    position: absolute;
    z-index: 2;
}

.owned_count {
    color: white;
    width: 100%;
    right: -65%;
    position: absolute;
}

.b_midleft {
    position: fixed;
    left: 23%;
    max-width: 18%;
}

.b_midright {
    position: fixed;
    left: 46%;
    max-width: 18%;
}

.b_end {
    position: fixed;
    left: 70%;
    max-width: 18%;
}

.b_start {
    position: fixed;
    max-width: 18%;
}