#loading_screen_icon_box {
    height: 30px;
    border-color: rgba(255, 255, 255, 1);
    border-radius: 3px;
    border-style: groove;
    margin-left: 3%;
    background-image: url("../Images/Colourful_slider.png");
    background-size: 20%;
}

#loading_screen_icon_cover {
    background-color: black;
    position: fixed;
    width: 38.4%;
    height: 30px;
    align-self: right;
    margin-left: 0%;
}