
.wrapper {
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 15px;
}

.wrapper2 {
    padding-right: 10px;
    padding-bottom: 10px;
    position: fixed;
	background-color: rgba(0,0,0,0.7);
	border-radius: 15px;
}
.wrapper3 {
    position: fixed;
    margin-left: 30%;
    margin-top: 10%;
    padding-right: 10px;
    padding-bottom: 10px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 15px;
    border-color: rgba(255, 0, 255, 0.9);
    width: 40%;
}

.wrapper4 {
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 15px;
    position: fixed;
    display: none;
}

.sTabcontent_4 {
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 15px;
    position: fixed;
    display: none;
}